@import '~antd/dist/antd.css';
*{
  margin:0;
  padding:0;
}
li{
  list-style:none;
}
a{
  text-decoration:none; 
}
.x-warp-xq{
background:#ededed;
width:100%;
/* height:600px; */
margin-top:-20px;
padding-top:70px;
}
.x-warp-xqT{
width:1200px;
background:#fff;
margin:0px auto;
}
.xq-header{
  width:100%;
  padding:50px;
  background:#fafafa;
  text-align:center;
  font-size:24px;
  color:rgb(41, 94, 168);
}
.xq-con{
width:100%;
padding:30px 70px;
}
